table {
  border: black solid 1px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 10px;
}

th {
  background: #009578;
  color: #ffffff;
  text-align: left;
}
td{
  border:rgb(95, 143, 98) solid 1px ;
  
}

tr:nth-child(even) {
  background: #04967981;
}

tr:hover{
  background-color: rgb(145, 142, 142);
}
th,
td {
  padding: 5px 5px 5px 5px;
 
}


